/* Global Styles */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  height: 100%;
  width: 100%;
}

.page {
  height: 100%;
  width: 100%;
}
/* Navbar Styles */
.navbar {
  background-color: gray;
  position: fixed;
  height: 10%;
  width: 100%;
}

.navbar > ul {
  display: flex;
  justify-content: flex-end;
}

.navbar ul li:nth-child(1){
  margin-right: auto; /*Pushes logo to the left*/
}

.navbar ul li{
  list-style: none;
}

.navbar ul li a{
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  color: #fff;
  text-decoration: none;
}

.logo {
  font-weight: bold;
}
/*--------------- Page Styles---------------*/
/* Homepage Styles */
.bg-home {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home {
  display: grid;
}

/* Work Page Styles */
/* Skills Styles */
/* Contact Styles */