/* Global Styles */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  cursor: crosshair;
  height: 100%;
  width: 100%;
}

.page {
  height: 100%;
  width: 100%;
}
/* Navbar Styles */
.navbar {
  background-color: gray;
  position: fixed;
  height: 10%;
  width: 100%;
}

.navbar > ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}

.navbar ul li:nth-child(1){
  margin-right: auto; /*Pushes logo to the left*/
}

.navbar ul li{
  list-style: none;
}

.navbar ul li a{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
}

.navbar ul li a:hover {
  opacity: 0.7;
}

.navbar ul li a:active {
  color: #01203f;
}

.navbar ul li a.logo {
  font-family: 'Indie Flower', sans-serif;
  font-size: 2em;
  /* font-weight: bolder; */
}

.menu{
  color: #fff;
  font-size: 64px;
  margin-left: 35px;
}

.menu:hover {
  opacity: 0.7;
}

.nav-link {
  margin-left: 35px;
}
/*--------------- Page Styles---------------*/
/* Homepage Styles */
.bg-home {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home {
  display: grid;/*Grid divides home page into 4 quandrants*/
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: ". bio"
                        "typing typing";
}

.bio {
  align-items: flex-end;
  color: #fff;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  grid-area: bio;
  margin-left: auto;
  max-width: 60%;
}

.typing {
  color: #fff;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 5em;
  grid-area: typing;
}

.text1{
  animation: typewriter;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(25, end);
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;/*ensures text doesn't wrap to next line*/

}

.text1::after {
  animation: underscore infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
  content: "_";
}
/* Typewriter animations */
@keyframes typewriter {
  0%, 100% {
    width: 0;
  }
  20%, 80% {
    width: 14em;
  }
}
@keyframes underscore {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* Work Page Styles */
.work {
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 6fr 1fr ;
  grid-template-areas: "left-arrow main right-arrow";
  height: 100%;
  width: 100%;
}

.left {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
  width: 100%;
  grid-area: left-arrow;
}

.left-icon, .right-icon {
  color: gray;
  font-size: 5em;
}

.right {
  display: flex;
  align-items: center;
  height: 100%;
  grid-area: right-arrow;
  width: 100%;
}

.gallery-container {
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: dodgerblue;
  border: 1px solid gray; 
  min-height: 80%;
  min-width: 80%;
}

.gallery-description{
  font-family: 'Roboto',sans-serif;
  color: white;
}
/* Skills Styles */
.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "graph summary"
                        "highlight highlight";
}

.skills-table {
  color: gray;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  margin: 12% 0 0 4%;
  grid-area: graph;
}

.skills-table thead {
  color: gray;
  text-align: left;
}

.skills-table tr td {
  height: 2em;
}

.summary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  grid-area: summary;
  width: 100%;
}

.summary-title {
  color: gray;
}

.summary-title, .skills-summary {
  font-family: 'Roboto', sans-serif;
}

.skills-summary {
  font-size: 1.5em;
  line-height: 1.75em;
  padding-right: 5%;
}

.resume-link {
  border: 1px solid gray;
  color: #fff;
  background-color: dodgerblue;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  height: 15%;
  padding: 2%;
  width: 25%;
  text-decoration: none;
  text-align: center;
}
/* Contact Page Styles */
.contact {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "sidebar con-form";
}

.bg-contact {
  background-image: url("../assets/background_contact.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.con-title {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
}

.form-container {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.con-form {
  height: 70%;
  width: 70%;
}

.con-input {
  border-radius: 20px;
  height: 7%;
  margin: 0 0 20px 0;
  width: 100%;
}

.con-form input[type="text"], .con-form input[type="email"], .con-form textarea {
  font-size: 1.5em;
  padding-left: 5%;
}

.con-button {
  background-color: gray;
  color: #fff;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  height: 15%;
  width: 50%;
}

.con-form > input::placeholder{
  font-family: 'Roboto', sans-serif;
}

.con-textarea {
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  height: 50%;
  margin: 0 0 5% 0;
  width: 100%;
}

/* Footer Styles */
footer {
  align-items: center;
  background-color: gray;
  bottom: 0;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  height: 10%;
  position: fixed;
  width: 100%;
}

footer > li {
  list-style-type: none;
  margin: 0 2% 0 0;
}

footer li a {
  color: #fff;
  text-decoration: none;
}

footer li a:hover {
  opacity: 0.7;
}

footer li a:active {
  color: #01203f;
}

.copy {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: lighter;
  margin: 0 auto 0 2%;
}

.foot-icon {
  font-size: 3em;
}

/* Validation Styles */
/* .email-message {
  font-family: 'Roboto', sans-serif;
  height: 2%;
  margin: 2% auto;
  position: absolute;
  text-align: center;
  top: 2%;
  width: 30%;
}

.fullname-message {
  height: 2%;
  margin: 2% auto;
  position: absolute;
  text-align: center;
  top: 0;
  width: 30%;
} */

form > .messages {
  color: red;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2%;
}

button[disabled] {
  opacity: .2;
}

/* Media Queries */
@media screen and (min-width: 1550px) {
  .bio {
    margin-top: 10%;
    width: 80%;
  }
}